<!DOCTYPE html>
<html lang="en">
	<%- include('../../layouts/head.ejs') %>
	<body>
		<div class="container-fluid overflow-hidden">
			<div class="row vh-100 overflow-auto gx-5">
				<!-- Sidebar  -->
				<%- include('../../layouts/sidebar.ejs') %>

				<!-- Content -->
				<div class="col d-flex flex-column h-100">
					<main class="row overflow-auto">
						<div class="col pt-4">
							<h3>Customers</h3>

							<a href="/customers/create" class="btn btn-primary mt-4">
								<span class="fa fa-plus me-3"></span> Create Customer</a
							>
							<div class="row mt-4">
								<div class="col-md-10">
									<div class="card">
										<div class="card-body">
											<form action="/customers" method="get" class="mb-4">
												<div class="row g-3 align-items-center">
													<div class="col-auto">
														<label for="inputPassword6" class="col-form-label"
															>Search</label
														>
													</div>
													<div class="col-auto">
														<input
															type="text"
															id="inputPassword6"
															class="form-control"
															name="search"
															value="<%=search%>"
														/>
													</div>
													<div class="col-auto">
														<button type="submit" class="btn btn-secondary">
															<i class="fa fa-search"></i>
														</button>
													</div>
												</div>
											</form>
											<table class="table table-hover">
												<thead>
													<tr>
														<th>#</th>
														<th>Name</th>
														<th>Phone Number</th>
														<th>City</th>
														<th>District</th>
														<th>Address</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<% result.forEach((customer, i) => { %>
													<tr>
														<td><%= i+1 %></td>
														<td><%= customer.name %></td>
														<td><%= customer.phoneNumber %></td>
														<td><%= customer.city %></td>
														<td><%= customer.district %></td>
														<td><%= customer.address %></td>
														<td>
															<div class="d-inline-flex">
																<a
																	href="/customers/edit/<%=customer.id%>"
																	class="btn btn-warning me-2"
																	>Edit</a
																>
																<form
																	action="/customers/delete/<%=customer.id%>"
																	method="post"
																>
																	<button type="submit" class="btn btn-danger">
																		Delete
																	</button>
																</form>
															</div>
														</td>
													</tr>
													<% }); %> <% if (result.length === 0) { %>
													<tr class="text-center">
														<td colspan="7">No data</td>
													</tr>

													<% } %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
					<%- include('../../layouts/footer.ejs') %>
				</div>
			</div>
		</div>

		<%- include('../../includes/script.ejs') %>
	</body>
</html>
