<!DOCTYPE html>
<html lang="en">
	<%- include('../../layouts/head.ejs') %>
	<body>
		<div class="container-fluid overflow-hidden">
			<div class="row vh-100 overflow-auto gx-5">
				<!-- Sidebar  -->
				<%- include('../../layouts/sidebar.ejs') %>

				<!-- Content -->
				<div class="col d-flex flex-column h-100">
					<main class="row overflow-auto">
						<div class="col pt-4">
							<h3>Paints</h3>

							<a href="/paints/create" class="btn btn-primary mt-4">
								<span class="fa fa-plus me-3"></span> Create Paint</a
							>
							<div class="row mt-4">
								<div class="col-md-10">
									<div class="card">
										<div class="card-body">
											<form action="/paints" method="get" class="mb-4">
												<div class="row g-3 align-items-center">
													<div class="col-auto">
														<label for="inputPassword6" class="col-form-label"
															>Search</label
														>
													</div>
													<div class="col-auto">
														<input
															type="text"
															id="inputPassword6"
															class="form-control"
															name="search"
															value="<%=search%>"
														/>
													</div>
													<div class="col-auto">
														<button type="submit" class="btn btn-secondary">
															<i class="fa fa-search"></i>
														</button>
													</div>
												</div>
											</form>
											<table class="table table-hover">
												<thead>
													<tr>
														<th>#</th>
														<th>Image</th>
														<th>Name</th>
														<th>Price</th>
														<th>Stock</th>
														<th>Category</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<% result.forEach((customer, i) => { %>
													<tr>
														<td class="align-middle"><%= i+1 %></td>
														<td>
															<img
																src="<%= customer.image %>"
																alt=""
																width="50"
																height="50"
															/>
														</td>
														<td class="align-middle"><%= customer.name %></td>
														<td class="align-middle">
															Rp <%= customer.price %>
														</td>
														<td class="align-middle"><%= customer.stock %></td>
														<td class="align-middle">
															<%= customer.Category.name %>
														</td>
														<td class="align-middle">
															<div class="d-inline-flex">
																<a
																	href="/paints/edit/<%=customer.id%>"
																	class="btn btn-warning me-2"
																	>Edit</a
																>
																<form
																	action="/paints/delete/<%=customer.id%>"
																	method="post"
																>
																	<button type="submit" class="btn btn-danger">
																		Delete
																	</button>
																</form>
															</div>
														</td>
													</tr>
													<% }); %> <% if (result.length === 0) { %>
													<tr class="text-center">
														<td colspan="7">No data</td>
													</tr>

													<% } %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
					<%- include('../../layouts/footer.ejs') %>
				</div>
			</div>
		</div>

		<%- include('../../includes/script.ejs') %>
	</body>
</html>
