<!DOCTYPE html>
<html lang="en">
	<%- include('../../layouts/head.ejs') %>
	<body>
		<div class="container-fluid overflow-hidden">
			<div class="row vh-100 overflow-auto gx-5">
				<!-- Sidebar  -->
				<%- include('../../layouts/sidebar.ejs') %>

				<!-- Content -->
				<div class="col d-flex flex-column h-100">
					<main class="row overflow-auto">
						<div class="col pt-4">
							<h3>Orders</h3>

							<a href="/orders/create" class="btn btn-primary mt-4">
								<span class="fa fa-plus me-3"></span> Create Order</a
							>
							<div class="row mt-4">
								<div class="col-md-11">
									<div class="card">
										<div class="card-body">
											<form action="/orders" method="get" class="mb-4">
												<div class="row g-3 align-items-center">
													<div class="col-auto">
														<label for="inputPassword6" class="col-form-label"
															>Search</label
														>
													</div>
													<div class="col-auto">
														<input
															type="text"
															id="inputPassword6"
															class="form-control"
															name="search"
															value="<%=search%>"
														/>
													</div>
													<div class="col-auto">
														<button type="submit" class="btn btn-secondary">
															<i class="fa fa-search"></i>
														</button>
													</div>
												</div>
											</form>
											<table class="table table-hover">
												<thead>
													<tr>
														<th>#</th>
														<th>Order ID</th>
														<th>Customer</th>
														<th>Item</th>
														<th>Price</th>
														<th>Quantity</th>
														<th>Total Price</th>
														<th>Created At</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<% result.forEach((element, i) => { %>
													<tr>
														<td><%= i+1 %></td>
														<td><%= element.id %></td>
														<td><%= element.Customer.name %></td>
														<td><%= element.Paint.name %></td>
														<td>Rp <%= element.Paint.price %></td>
														<td><%= element.quantity %></td>
														<td>Rp <%= element.totalPrice %></td>
														<td><%= element.createdAt %></td>
														<td>
															<div class="d-inline-flex">
																<a
																	href="/orders/detail/<%=element.id%>"
																	class="btn btn-light me-2"
																	>Detail</a
																>
																<a
																	href="/orders/edit/<%=element.id%>"
																	class="btn btn-warning me-2"
																	>Edit</a
																>
																<form
																	action="/orders/delete/<%=element.id%>"
																	method="post"
																>
																	<button type="submit" class="btn btn-danger">
																		Delete
																	</button>
																</form>
															</div>
														</td>
													</tr>
													<% }); %> <% if (result.length === 0) { %>
													<tr class="text-center">
														<td colspan="9">No data</td>
													</tr>

													<% } %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
					<%- include('../../layouts/footer.ejs') %>
				</div>
			</div>
		</div>

		<%- include('../../includes/script.ejs') %>
	</body>
</html>
